$breakout-mobile: 375px;
$breakout-desktop: 1440px;
$primary-dark-cyan: hsl(185, 75%, 39%);
$primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
$primary-dark-grayish-blue: hsl(227, 10%, 46%);
$neutral-dark-gray: hsl(0, 0%, 59%);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$font: "Kumbh Sans", sans-serif;
$font-size: 16px;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body,
main.container,
section.detail,
.social-media-detail,
.name-age,
.profile-detail,
.profile-picture,
.followers,
.likes,
.photos {
  display: flex;
}

body {
  max-width: $breakout-desktop;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-dark-cyan;
  background-image: url(./images/bg-pattern-top.svg),
    url("./images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 50vh, left 45vw top 50vh;
  background-repeat: no-repeat, no-repeat;
}

main.container {
  position: relative;
  padding: 0;
  max-width: 360px;
  height: 360px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  background-color: white;
}

section.header {
  height: 40%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile-picture {
    position: relative;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    img {
      position: absolute;
      top: -45px;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 4px solid white;
    }
  }
}

section.detail {
  height: 60%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: 700;
  }

  .profile-detail {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    .name-age {
      h1 {
        margin: 0 4px;
        font-size: 16px;
      }
      .age {
        color: $neutral-dark-gray;
        font-weight: 500;
      }
    }
    .birth-place {
      h2 {
        font-size: 16px;
        color: $neutral-dark-gray;
      }
    }
  }

  .social-media-detail {
    border-top: 1.5px solid $neutral-dark-gray;
    justify-content: space-between;
    width: 100%;
    padding: 24px 48px;
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 12px;
      color: $neutral-dark-gray;
    }
    .followers,
    .likes,
    .photos {
      flex-direction: column;
      align-items: center;
    }
  }
}

footer {
  margin-top: 40px;
  text-align: center;
}
